.tableheaderwithendlinebold {
    color: #505050;
    font-weight:normal;
}
.busstylebold {
    display: inline;
    color: #007AC9;
    font-weight: bold;
}
.busstyle {
    display: inline;
    color: #007AC9;
}
.busstylewithendlinebold {
    color: #007AC9;
    font-weight: bold;
}
.busstylewithendline {
    color: #007AC9;
}
.realtimestyle {
    display: inline;
    color: green;
}
.realtimestylewithendline {
    color: green;
}
.notrealtimestyle {
    display: inline;
    color: #606060;
}
.notrealtimestylewithendline {
    color: #606060;
}
.black {
    display: inline;
    color: gray;
}
.leaflet-container {
    height: 400px;
    width: 800px;
}
.mainheader {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #007AC9;
}
.leaflet-container {
    width: 100%;
    height: 40vh;
}
.start {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}
.bg-white {
    background:#ffffff;
}
.bg-silver {
    background:#C0C0C0;
}
.white {
    color:#ffffff;
}
.color-bus {
    background-color:#007AC9;
}
.color-tram {
    background-color:#00985F;
}
.color-train {
    background-color:#8C54A2;
}
.color-sub {
    background-color:#FF6319;
}
.color-ferry {
    background-color:#00B9E4;
}
.btn-bus {
    background: #007AC9;
    color: #ffffff;
    border: 1px solid #007AC9;
}
.btn-tram {
    background: #00985F;
    color: #ffffff;
    border: 1px solid #00985F;
}
.btn-train {
    background: #8C54A2;
    color: #ffffff;
    border: 1px solid #8C54A2;
}
.btn-sub {
    background: #FF6319;
    color: #ffffff;
    border: 1px solid #FF6319;
}
.btn-ferry {
    background: #00B9E4;
    color: #ffffff;
    border: 1px solid #00B9E4;
}