.flex-item {
    justify-content: center;
}
.tableheaderwithendlinebold {
    color: #404040;
    font-weight: normal;
}
.realtimestyle {
    display: inline;
    color: green;
}
.realtimestylewithendline {
    color: green;
}
.notrealtimestyle {
    display: inline;
    color: #606060;
}
.notrealtimestylewithendline {
    color: #606060;
}
.semicolon {
    display: inline;
    color: #404040;
}
.leaflet-container {
    width: 100%;
    height: 40vh;
}
.start-view-text {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
}
.start-view-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-white {
    background: #ffffff;
}
.bg-silver {
    background: #c0c0c0;
}
.btn-bus {
    background: #007ac9;
    color: #ffffff;
    border: 1px solid #007ac9;
}
.btn-tram {
    background: #00985f;
    color: #ffffff;
    border: 1px solid #00985f;
}
.btn-train {
    background: #8c54a2;
    color: #ffffff;
    border: 1px solid #8c54a2;
}
.btn-sub {
    background: #ff6319;
    color: #ffffff;
    border: 1px solid #ff6319;
}
.btn-ferry {
    background: #00b9e4;
    color: #ffffff;
    border: 1px solid #00b9e4;
}
